body 
{
background-color:black;
}

h1
{
background-color:powderblue;
text-align:center;
valign:middle;
color:white;
font-size:50;
font-family:verdana;
}

p
{
color:white;
text-align:center;
}

h4
{
color:powderblue;
text-align:center;
}

center
{
display:block;
margin-left:auto;
margin-right:auto;
width:50%;
}

table
{
background-color:powderblue;
}

b
{
font-size:25;
font-family:verdana;
align:center;
valign:middle;
}